@font-face {
    font-family: 'Eina Regular';
    src: url(../fonts/Eina01-Regular.ttf);
}

@font-face {
    font-family: 'Eina Bold';
    src: url(../fonts/Eina01-SemiBold.ttf);
}



header {
    margin-bottom: 4rem;
}


body{
    -webkit-font-smoothing: antialiased;

}

.container-fluid{
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
}

h2 {
    color: black;
    padding-top: .5em;
    padding-bottom: .5em;
}

h5{
    font-family: "Eina Regular", sans-serif;
}

.card {
    margin-top: 3em;
    width: 27.5em;
    border-radius: 1em;
    font-family: "Eina Regular", sans-serif;
}

p {
    font-family: "Eina Regular", sans-serif;
}

#form-email {
    border-radius: 2em;

}

#login-button {
    font-size: 1.25em;
    border-radius: 2em;
    background: rgb(0, 0, 0);
    width: 24rem;
    text-transform: initial;
    transition: all .2s ease-in-out!important;
}

#login-button:hover {
    color:#ffd663!important;
}



#login-facebook{
    font-size: 1.25em;
    border-radius: 2em;;
    width: 24rem;
    text-transform: initial;
    transition: all .2s ease-in-out!important;
}

#login-facebook:hover {
    text-decoration: none;
}

#login-google{
    font-size: 1.25em;
    border-radius: 2em;;
    width: 24rem;
    text-transform: initial;
    margin-bottom: 2rem;
    color: black;
    transition: all .2s ease-in-out!important;
}

#login-google:hover {
    text-decoration: none;
}




#remember-me{
    padding-left: 1.5rem;
    font-size: 1rem;
}



#register-link{
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

a{
    font-family: "Eina Regular", sans-serif;
    transition: all .2s ease-in-out;
}

a:hover{
    text-decoration: underline;
}

hr{
    background-color: rgb(0, 0, 0);
}

i{
    font-size: 1.3em;
}


